<h1>Planes</h1>
<% @planes.each do |plane| %>
  <h3><%= plane.flight_name %></h3>
  <p>Plane Model: <%= plane.plane_model %></p>
  <p>Passenger Capacity: <%= plane.capacity %></p>
  <p>On Time: <%= plane.on_time %></p>
<% end %>