<h1>Airports</h1>
<% @airports.each do |airport| %>
  <h3><a href="/airports/<%= airport.id %>"><%= airport.name %></a></h3>
  <p>Airport Helipad: <%= airport.helipad%></p>
  <p>Airport Runways: <%= airport.runways %></p>
<% end %>